#navbar{
    width: 300px;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#navbar-logo{
    left: 30px;
}

#navbar-text{
    position: absolute;
    top: 40px;
    left: 110px;
    font-size: 12px;
}

#navbar-text-below{
    position: absolute;
    top: 60px;
    left: 110px;
    font-size: 12px;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}

hr{color: whitesmoke; background-color: whitesmoke;}

.searchbar-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icons img{
    width: 25px;
}

.icons{
    margin: auto 0;
}

.students-and-selectors{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.students{
    
}

.selectors{
    display: flex;
    gap: 10px;
}

.selectors select, .selectors button{
    width: 200px;
}

.main-dash{
    display: flex;
    gap: 15px;
    height: 95%;
    width: 100%;
}

#left-dash{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.student-pill{
    border: 1px solid yellow;
    background-color: cadetblue;
    width: 100%;
    height: 10%;
    border-radius:5px ;
}

#right-dash{
    width: 40%;
    gap: 20px;
}

.right-side-box{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.top-side{
    display: flex;
    justify-content: space-between;
}

.top-side select{
    width: 120px;
    height: 30px;
}